
#header {
    position: fixed;
    background-color: #fcf8e8;
    height: 70px;
    width: 100%;
    top: 0;
}

.avatar {
    display: inherit;
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 5px 0 0 15px;
    left: 10px;
}

.menu-navigation {
    width: 600px;
    padding: 0 60px;
    line-height: 0.5rem;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-top: 20px;
    float: right;
}

nav li {
    display: inherit;
    justify-content: center;
    padding: 0.5rem;
}

nav li:hover {
    text-decoration: underline limegreen;
}

.menu-navigation a {
    justify-content: space-between;
    display: inherit;
    text-decoration: none;
    color: black;
    align-items: center;
    font-size: inherit;
    font-family: inherit;
}
