html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-size: 1.1em;
    text-align: center;
}

.a-brand{
    padding-left: 10%;
}

.avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.nav-li {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
}

.nav-li:hover {
    color: black;
    text-decoration: underline black;
}

.nav-ul{
    padding-right: 10%;
}

h1, h2 {
    font-family: 'Caveat', cursive;
    font-size: 4.1em;
    margin: 0;
    font-weight: normal;
}

.class-title {
    color: #6b8778;
    font-weight: bolder;
    padding-bottom: 5.0rem;
}

.insider {
    width: 75%;
    margin: auto;
    padding: 5.0rem 0;
}

.text-about {
    background-color: #DDEDE2;
    padding: 10% 10% 14%;
    text-align: left;
}
#top-container {
    width: 100%;
    padding:6.25rem 0 6.25rem;
}

#portfolio {
    padding-bottom: 100px;
    margin: auto;
}

.about-img {
    border-radius: 10%;
    width: 80%;
}

#skills {
    padding-bottom: 100px;
}

#about {
    margin: auto;
    padding: 6.25rem 0 100px;
}

#contact {
    margin: 0;
    padding-bottom: 100px;
}
.name {
    font-family: 'Pacifico', cursive;
    font-size: 6.3rem;
    color: #85a18e;
    margin-top: 0;
}

.footer {
    padding-bottom: 15px;
}

.footer-text {
    font-size: 1rem;
    color: darkgray;
    text-align: center;
}

.footer-links a {
    margin: 15px;
}

.carousel {
    height: 100%;
}

.portfolio-resources {
    margin-bottom: 7%;
}
