html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fcf8e8;
    height: auto;
    text-align: center;
    margin: 0;
    font-size: 1.1em;
}

h1, h2 {
    font-family: 'Caveat', cursive;
    font-size: 4.1em;
    margin: 0;
    font-weight: normal;
}

p {
    padding-right: 200px;
    padding-left: 200px;
    text-align: left;
}

#top-container {
    width: 100%;
    min-height: 80vh;
    margin: 0;
    padding-top: 100px;
}

.name {
    font-family: 'Pacifico', cursive;
    font-size: 6.3rem;
    color: limegreen;
    margin-top: 0;
}

#about {
    margin: 0;
    padding: 53px 0 150px 0;
    width: 100%;
    min-height: 100vh;
}
