html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fcf8e8;
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 1.1em;
}

h1, h2 {
    font-family: 'Caveat', cursive;
    font-size: 4.1em;
    margin-bottom: 0;
    font-weight: normal;
}

p {
    padding-right: 200px;
    padding-left: 200px;
}

#top-container {
    margin: 0;
    padding: 100px 0 350px 0;
    height: 310px;

}

.name {
    font-family: 'Pacifico', cursive;
    font-size: 6.3rem;
    color: limegreen;
    margin-top: 0;
}

#about {
    margin: 0;
    padding: 50px 0 150px 0;
    height: 330px;
}
